<?xml version="1.0" encoding="UTF-8"?>

<!--please pay attention that: file name should not be logback.xml，name it logback-spring.xml to use it in springboot framework-->
<configuration>

    <springProperty scope="context" name="logging.path" source="logging.path"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} - %logger{36}  trace_id=%X{trace_id} span_id=%X{span_id} trace_flags=%X{trace_flags} - %msg %n</Pattern>
        </encoder>
    </appender>

    <root level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>